// Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Outfit';
}

footer {
    font-size: medium;
    position: static;
    bottom: 0;
    width: 100%;
}

table a {
    //olor: #382553;
    color: #0B446D;
}

.bg-yellow {
    font-family: 'Outfit';
    font-size: large;
    font-weight: bold;
    background-color: #E6EF31;
    color: #000;
}

.btn-yellow {
    font-family: 'Outfit';
    font-size: medium;
    font-weight: 700;
    background-color: #E6EF31;
    color: #000;
    border: 2px solid #000;
}

.btn-yellow:hover {
    background-color: #0B446D;
    color: #fff;
    border: 2px solid #0B446D;
}

.bg-blue, .bg-blue a, .page-link.active, .active > .page-link{
    background-color: #0B446D;
    color: #fff;
}

.btn-blue {
    font-family: 'Outfit';
    font-size: medium;
    font-weight: 700;
    background-color: #0B446D;
    color: #fff;
    border: 2px solid #0B446D;
}

.btn-blue:hover {
    background-color: #E6EF31;
    //color: #fff;
    color: #000;
    border: 2px solid #000;
}

.btn-black {
    font-family: 'Outfit';
    font-size: medium;
    font-weight: 700;
    background-color: #000000;
    color: #fff;
    border: 2px solid #000000;
}

.btn-black:hover {
    background-color: #E6EF31;
    //color: #fff;
    color: #000;
    border: 2px solid #000;
}

.bg-white {
    background-color: #fff;
    color: #000;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

.modal {
    background-color: #fff;
}

.modal h3 {
    font-family: 'Outfit';
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.modal h5 {
    font-family: 'Outfit';
    font-size: 18px;
    text-align: left;
    font-weight:600
}

.modal p, .modal li  {
    font-family: 'Outfit';
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}

.header-second {
    font-size: 0.75rem;
    line-height: 1.25;
    background-color: rgb(249, 249, 249);
    height: 2.4375rem;
    padding-bottom: 32px;
    padding-top: 4px;
    color: #000;
}

.header-second a {
    text-decoration: none;
    color: #0B446D;
}
